/*css for home page*/

body {
    padding-bottom: 100px;
    /* background-color: rgb#909d24; */
}

.bottom_nav {
	margin: auto;
}

.vertical_alignment {
	height: 40px;
	line-height: 40px;
}

.vertical_alignment p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
	vertical-align: middle;
	/*display: inline-block;*/
}


.jumbotron,
.container-fluid .jumbotron,
h1,
strong {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-color: #909d24;
}
